@charset "UTF-8";
/* CSS Document */

#izquierda{
	float:left;
	width:119px;
}
#centro{
	float:left;
	width:981px;
}
#derecha{
	float:left;
	width:118px;
}
#NombrePeriodico{
	color:#000;
	text-align:center;
	font-size:48px;
	font-family:"Courier New", Courier, monospace;
	font-style:oblique;
	background:rgba(255,255,255,0.7);
	width:980px;
	padding-top:15px;
	padding-bottom:15px;
}

#NombrePeriodico a:active {
	text-decoration: none;
	color:#000;
}

#NombrePeriodico a:link {
	text-decoration: none;
	color:#000;
}

#NombrePeriodico a:visited {
	text-decoration: none;
	color:#000;
}

#NombrePeriodico a:hover {
	text-decoration: none;
	font-weight:bold;
	color:#000;
}

#Secciones{
	margin-left:0;
	margin-right:0;
	padding-left:0%;
	padding-right:0%;
	border:none;
	display::inline;
}

body{
	background-image:url(../img/Fondo.jpg);
	background-repeat: repeat-x;
	background-attachment: fixed;
}

.futbol{
	display:block;
	width: 156px;
	height: 48px;
	text-decoration:none;
	background-image:url(../img/botones/bFutbol.jpg);
}
a.futbol:hover{
	background-image:url(../img/botones/bpFutbol.jpg);
}

.tennis{
	display:block;
	width: 156px;
	height: 48px;
	text-decoration:none;
	background-image:url(../img/botones/bTennis.jpg);
}
a.tennis:hover{
	background-image:url(../img/botones/bpTennis.jpg);
}

.NBA{
	display:block;
	width: 156px;
	height: 48px;
	text-decoration:none;
	text-indent:-10000px;
	background-image:url(../img/botones/bNBA.jpg);
}
a.NBA:hover{
	background-image:url(../img/botones/bpNBA.jpg);
}

.ciclismo{
	display:block;
	width: 160px;
	height: 48px;
	text-decoration:none;
	text-indent:-10000px;
	background-image:url(../img/botones/bCiclismo.jpg);
}
a.ciclismo:hover{
	background-image:url(../img/botones/bpCiclismo.jpg);
}

.natacion{
	display:block;
	width: 156px;
	height: 48px;
	text-decoration:none;
	text-indent:-10000px;
	background-image:url(../img/botones/bNatacion.jpg);
}
a.natacion:hover{
	background-image:url(../img/botones/bpNatacion.jpg);
}

.F1{
	display:block;
	width: 160px;
	height: 48px;
	text-decoration:none;
	text-indent:-10000px;
	background-image:url(../img/botones/bF1.jpg);
}
a.F1:hover{
	background-image:url(../img/botones/bpF1.jpg);
}

.menu{
	border:1;
	width:108px;
}

#NoticiasIzquierda{
	float:left;
	width:33.3%;
	background:rgba(255,200,255,0.5);
}

#NoticiasCentro{
	float:left;
	width:33.3%;
	background:rgba(200,255,255,0.5);
}

#NoticiasDerecha{
	float:left;
	width:33.3%;
	background:rgba(255,255,200,0.5);
}

.Noticia{
	text-align:left;
	border-bottom:double;
	
}

.Noticia titulo{
	font-family:Verdana, Geneva, sans-serif;
	font-size:15px;
	color:#000;
	font-weight:bold;
}

.Noticia a:active {
	text-decoration: none;
	color:#000;
}

.Noticia a:link {
	text-decoration: none;
	color:#000;
}

.Noticia a:visited {
	text-decoration: none;
	color:#000;
}
.Noticia a:hover {
	text-decoration: none;
	color:#5F2D34;
}


.Noticia articulo{
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px;
	color:#000;
	
}

.UltimaNoticia{
	border-bottom:double;
	
}

.UltimaNoticia titulo{
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
	color:#50131E;
	font-weight:bold;
	text-align:center;
}

.UltimaNoticia lista{
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#390F19;
}

.Publicidad{
	
}

.fut_ico{
	list-style-image:url(../img/iconos/futbol.png);	
}

.fut_ico a:active {
	text-decoration: none;
	color:#000;
}

.fut_ico a:link {
	text-decoration: none;
	color:#000;
}

.fut_ico a:visited {
	text-decoration: none;
	color:#000;
}
.fut_ico a:hover {
	text-decoration: none;
	font-weight:bold;
	color:#000;
}

.nba_ico{
	list-style-image:url(../img/iconos/baloncesto.png);	text-align:left;
}

.nba_ico a:active {
	text-decoration: none;
	color:#000;
}

.nba_ico a:link {
	text-decoration: none;
	color:#000;
}

.nba_ico a:visited {
	text-decoration: none;
	color:#000;
}
.nba_ico a:hover {
	text-decoration: none;
	font-weight:bold;
	color:#000;
}


.f1_ico{
	list-style-image:url(../img/iconos/f1.png);	text-align:left;
}

.f1_ico a:active {
	text-decoration: none;
	color:#000;
}

.f1_ico a:link {
	text-decoration: none;
	color:#000;
}

.f1_ico a:visited {
	text-decoration: none;
	color:#000;
}
.f1_ico a:hover {
	text-decoration: none;
	font-weight:bold;
	color:#000;
}

.ten_ico{
	list-style-image:url(../img/iconos/tennis.png);	text-align:left;
}

.ten_ico a:active {
	text-decoration: none;
	color:#000;
}

.ten_ico a:link {
	text-decoration: none;
	color:#000;
}

.ten_ico a:visited {
	text-decoration: none;
	color:#000;
}
.ten_ico a:hover {
	text-decoration: none;
	font-weight:bold;
	color:#000;
}

.nat_ico{
	list-style-image:url(../img/iconos/natacion.png);	text-align:left;
}

.nat_ico a:active {
	text-decoration: none;
	color:#000;
}

.nat_ico a:link {
	text-decoration: none;
	color:#000;
}

.nat_ico a:visited {
	text-decoration: none;
	color:#000;
}
.nat_ico a:hover {
	text-decoration: none;
	font-weight:bold;
	color:#000;
}

.cic_ico{
	list-style-image:url(../img/iconos/ciclismo.png);	text-align:left;
}

.cic_ico a:active {
	text-decoration: none;
	color:#000;
}

.cic_ico a:link {
	text-decoration: none;
	color:#000;
}

.cic_ico a:visited {
	text-decoration: none;
	color:#000;
}
.cic_ico a:hover {
	text-decoration: none;
	font-weight:bold;
	color:#000;
}
.footer{
	background:rgba(100,100,100,0.7);
	width:99.7%;
}

.footer caption{
	background:rgba(200,200,200,0.6);
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
	color:#50131E;
	font-weight:bold;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
}

#NombreSeccion{
	text-align:center;
	font-size:28px;
	font-weight:bold;
	font-family:"Courier New", Courier, monospace;
	background:rgba(111,255,111,0.5);
	width:980px;
	padding-top:10px;
	padding-bottom:10px;
}

.NoticiaDestacada{
	
	text-align:left;
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
	background:rgba(133,211,133,0.5);
	width:980px;
	height:200px;
	padding-top:13px;
	padding-bottom:13px;
}

.NoticiaDestacada titulo{
	text-align:center;
	color:#036;
	font-size:22px;
}

.NoticiaDestacada subtitulo{
	color:#600;
	font-size:13px;
}

.NoticiaDestacada articulo{
	font-size:17px;
}

.NoticiaDestacada a:active {
	text-decoration: none;
	color:#036;
}

.NoticiaDestacada a:link {
	text-decoration: none;
	color:#036;
}

.NoticiaDestacada a:visited {
	text-decoration: none;
	color:#036;

}
.NoticiaDestacada a:hover {
	text-decoration: none;
	color:#444EAB;
}

.formulario{
	text-align:left;
	background:rgba(133,211,133,0.5);
	font-family:"Courier New", Courier, monospace;
	font-size:16px;	
}

.formulario input{
	background-color:#FFEDD3;
}